body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PT sans';
}

code {
  font: 1rem 'Operator mono';
}

table,
td {
  border: 1px solid;
  font-family: monospace, 'pt sans'; 
  padding: 1rem;
  border-collapse: collapse;
}
